/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

  header > h1{
  color: green;
  padding-left: 50%;
 }

 .signed-out-links{
   display: flex;
   flex-direction: row;
   text-align: center;
   line-height: 3;
   justify-content: space-between;
   list-style: none;
   /* height: 50px;
   width: 100px; */
 }

 .signed-out-links > li{
  text-decoration: none;
  padding: 0px 8px;
  margin-left: 20px;
  border-radius: 20%;
  
  background-color: seagreen;
 }

 #signed-out-link > a{
  text-decoration: none;
  color: white;
 }