/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
   box-sizing: border-box;
 }

body{
  margin: 0;
  min-height: 100vh;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  background-color: #FFF;
}

 input{
    background-color: #FFF;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    font-size: .9375em;
    line-height: normal;
    margin: 0;
 }

 img{
  width:100%;
  height:100%;
 }

 fieldset {
   border: 0;
   padding: 0;
 }

 .banner.default, .banner.account{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
 }

 .banner.signup, .banner.login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #FFF;
  padding: 1.5em 0;
  border-bottom: 1px solid lightgray;
 }


 
/* this is the color taken from spotify's websire */
  .logo-wrapper{
  color: #1ed760; 
  height: 80px;
  width: 150px;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  display: inline-block;
 }

 .logo-wrapper.signup, .logo-wrapper.login {
   height:200px;
   width: 200px;
 }


 .signed-out-links{
   display: inline-flex;
   flex-direction: row;
   text-align: center;
   line-height: 0;
   justify-content: space-between;
   list-style: none;
  
 }

 .signed-out-links > li{
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
 }

 #signed-out-link > a{
  text-decoration: none;
  color: #d9dadc;
  display: block;
  text-decoration: none;
  font-weight: 700;
  padding: 28px 17px;
  background-color: transparent;
 }

 #signed-out-link > a:hover{
   color: #1ed760; 
 }

 #nav-link > a{
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 28px 17px;
  background-color: transparent;
 }

 #nav-link > a:hover{
   color: #1ed760; 
 }

 #nav-separator{
  text-decoration: none;
  background: #fff;
  display: inline-block;
  margin: auto 17px;
  height: 16px;
  width: 1px;
  color: #fff;
 }

 .banner-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   box-sizing: border-box;
   max-width: 970px;
   width:100%; 
   height:80px;
   margin: 0 auto;
   padding: 0 15px;
 }

 .banner-container.signup, .banner-container.login {
   justify-content: center;
   position: relative;
   top: -60px;
 }

 .banner-nav{
   display: inline-block;
 }

 .default{
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1020;
 }

 .signup{
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* position: fixed; */
  z-index: 1020;
 }

 .login{
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* position: fixed; */
  z-index: 1020;
 }

 /* .wrap{
   -webkit-box-flex: 1;
    flex: 1;
    background-color: #F037A5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-60%, #F037A5), color-stop(140%, #FAE62D));
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
 } */

 .hidden{
   display: none;
 }


 .signup-form-container, .login-form-container{
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   width: 970px;
 }

 .signup-form-content, .login-form-content{
   margin: 0 auto;
   max-width: 26.875em;
   display: block !important;
   border-radius: 5px 5px 0 0;
 }

 .signup-form-end, .login-form-end{
   display: block;
   margin: 0 0 1em;
   text-align: center;
   font-size: .9375em;
 }

 .signup-form-end > a, .login-form-end > a{
  color: #1DB954;
  text-decoration: none;
  font-weight: 70;
  background-color: transparent;
  transition: color 0.3s ease;
 }

 .signup-form-end > a:hover, .login-form-end > a:hover{
    color: #1ed760;
 }

 .signup-form-title, .login-form-title{
   color: #1c1c1f;
   margin-bottom: 1em;
   font-size: 18px;
   text-align: center;
 }

 #signup-form, #login-form{
   position: relative;
 }


 .signup-form-ul, .login-form-ul{
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .signup-form-li, .login-form-li{
   display: block;
   margin-bottom: .625em;
   text-align: left;
   margin-bottom: 1em;
 }

 .signup-form-li > input, .login-form-li > input{
   border-radius: 2px;
   -webkit-appearance: none;
   padding: 0 .75em;
   width: 100%;
   height: 48px;
 }
 /* stuff below pulled from spotify, it has like 8 classes for this button */
 #signup-button, #login-button{
   margin-bottom: 14px;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   color: #FFF;
   background-color: #1DB954;
   font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
 }

 #signup-button:hover, #login-button:hover{
   background-color: #1ed760;
 }

 /* still need to do styling for logged in user home page and figure out how greeting
 and the other renders fit into that */