#player-div-button{
  position: absolute;
  top: 200px;
}

#player-div-button > a{
  color: #FFF;
}

.player-div{
   position: absolute;
   width:100%;
   height: 100%;
   z-index: 0;
   background-color: rgb(44, 39, 42);
   background: linear-gradient(0.4turn, rgb(56, 24, 24), rgb(8, 6, 6));
   display: flex;
   flex-direction: row;
   overflow: hidden;
 }

.player-sidebar {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   width:240px;
 }

  .player-sidebar-container{
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   box-sizing: border-box;
   width:240px; 
   height:100%;
   margin: auto 0;
   padding: 15px 0;
   position: fixed;
   z-index: 1020;
   background-color: rgb(7, 7, 8);
   /* align-items: center; */
   padding-left:15px;
 }

  .player-logo{
  height: 150px;
  width: 150px;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  display: inline-block;
 }

 .sidebar-nav{
   display: inline-block;
 }


 .sidebar-links{
   display: flex;
   flex-direction: column;
   text-align: left;
   line-height: 0;
   justify-content: space-between;
   list-style: none;
   padding:0;
   margin-block-start: 0;
 }

 .sidebar-links > li{
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  /* border-left: 10px;
  border-left-color:rgb(7, 7, 8) */
 }

 /* need this to add remove class for left border, seems way too hard, skipping
 same thing for changing image color, seems like way more work than worth
.sidebar-selected{
 border-left-color:#1ed760;
} */
  #sidebar-nav-link > a{
  text-decoration: none;
  color: #96989c;
  display: inline-block;
  font-weight: 700;
  padding: 28px 17px;
  background-color: transparent;
  transition: color 0.3s ease;
  position: relative;
  bottom: 10px;
 }

 #sidebar-nav-link > a:hover{
   color: white;
 }

 #sidebar-nav-separator{
   height:200px;
 }


  #sidebar-signed-out-link-btn > a{
  text-decoration: none;
  color: #96989c;
  display: block;
  text-decoration: none;
  font-weight: 700;
  padding: 28px 17px;
  background-color: transparent;
 }

  #sidebar-signed-out-link-btn > a:hover{
   color: white; 
 }


  #sidebar-signed-out-link-login-btn, #sidebar-signed-out-link-signup-btn{
   margin-bottom: 14px;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   color: #FFF;
   background-color: #1DB954;
   font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 10px 48px 10px;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    transition: transform 0.2s ease;
 }

  #sidebar-signed-out-link-login-btn > a, #sidebar-signed-out-link-signup-btn > a {
    color: inherit;
  }

  #sidebar-signed-out-link-login-btn{
     background-color: white;
   color:rgba(8, 6, 6, 0.931);
    
  }

  #sidebar-signed-out-link-signup-btn{
    color: white;
    background-color:rgba(8, 6, 6, 0.931);
    border: 1px solid white;
  }

  #sidebar-signed-out-link-signup-btn:hover, #sidebar-signed-out-link-login-btn:hover{
   transform: scale(1.05,1.05);
 }

 #sidebar-signed-out-link{
   width: 200px;
 }

 #user-playlists-header{
   color: #96989c;
   font-weight: 200;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size:14px;
 }

 .create-playlist-div > a, .sidebar-account-div > a{
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  color: #96989c;
 }

 .create-playlist-div > a:hover, .sidebar-account-div > a:hover{
   color: white;
 }

 #create-playlist-link, #sidebar-nav-profile{
   display: inline-block;
   text-decoration: none;
    color: inherit;
   position: relative;
   bottom: 9px;
   left: 20px;
 }

 .playlists{
   display: flex;
   flex-direction: column;
   text-align: left;
   line-height: 0;
   justify-content: space-between;
   list-style: none;
   padding:0;
   margin-block-start: 0;
   overflow-y: scroll;
   width: 100%;
   height: 200px;
 }

 .playlists > li{
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
 }

  .playlist-item > a{
  text-decoration: none;
  color: #96989c;
  display: inline-block;
  background-color: transparent;
  transition: color 0.1s ease;
  /* position: relative;
  bottom: 10px; */
 }

  .playlist-item > a:hover{
   color: white;
 }

 ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: gray;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* fix scrollbar in heroku*/

#sidebar-icon{
  height:30px;
  width: 30px;
}

.sidebar-account-div{
  padding-top:20px;
}