.header-nav-item{
  position: relative;
  float: left;
}

.header-nav-item:hover{
 background-color:#fafafa;
}

.navbar-search{
  font-size: 13px;
  box-sizing: border-box;
  /* vertical-align: middle; */
  position: static;
  width: 100%;
  display: block;
}
.navbar-search-input-container{
  position: relative;
  width: 100%;
}

.navbar-search-input{
  position: relative;
  width: 100%;
  z-index: 1;
   box-sizing: border-box;
    font-size: 15px;
    line-height: 1.4;
    display: block;
    padding: 3px 8px;
    max-height: 29px;
    min-height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    height: inherit;
    transition: border-color,height,background-color .2s;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding-left: 26px;
    background: url(//qsf.fs.quoracdn.net/-3-images.new_grid.QuoraSearch.png-26-86c32b1ac26e4161.png) no-repeat 8px center;
    background-size: 13px;
    background-image: url(//qsf.fs.quoracdn.net/-3-images.new_grid.QuoraSearch_2x.png-26-c1b5774d1aad0f68.png);
}

.nav-profile-dropdown{
    animation: fadeInDownMini 200ms ease-out 0s 1 normal forwards;
    margin: 8px 0;
    min-width: 180px;
    z-index: 1600;
    position: absolute;
    top: 53px;
    color: #333;
    font-size: 13px;
    left: 50%;
    width: 260px;
    margin-left: -130px;
}

.nav-profile-dropdown::before{
  position: absolute;
  top: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-color: rgba(204,204,204,0);
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7px solid #ccc;
  left: 14px;
  margin-top: -7px;
  margin-left: -7.5px;
  left: 50%;
}

.nav-profile-dropdown-contents{
  border-radius: 3px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(200,200,200,0.7);
  padding: 0;
}

.nav-profile-dropdown-overflow{
  overflow-y: auto;
  max-height: calc(100vh - 61px)!important;
}

.nav-profile-dropdown-inner-style{
    display: flex!important;
    flex-direction: column!important;
    background-color: #fff!important;
}

.nav-profile-dropdown-header-container{
  top: 0!important;
  left: 0!important;
  width: 100%!important;
  z-index: 2!important;
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 0;
  border-bottom-style: solid;
  background-color: #fff!important;
}

.nav-profile-dropdown-links-container{
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 0;
  border-bottom-style: solid;
}

.nav-profile-dropdown-settings-links-container{
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 0;
  border-bottom-style: solid;
}

.nav-profile-dropdown-official-links-container{
  flex: 1 1 auto!important;
  min-width: 0!important;
  min-height: 0!important;
  background-color: #fafafa!important;
}

.nav-profile-dropdown-header-icon-container{
    align-items: flex-start!important;
    display: flex!important;
    padding-top: 16px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.nav-profile-dropdown-links-link, .nav-profile-dropdown-settings-link{
  padding-left: 16px!important;
  padding-right: 16px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  display: flex!important;
  align-items: center!important;
  text-decoration: none!important;
  background-color: rgba(255,255,255,0.8);
  transition: background-color .1s ease-in-out 0s;
}

.nav-profile-dropdown-settings-link{
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  cursor: pointer;
}

.nav-profile-dropdown-links-link:hover, .nav-profile-dropdown-settings-link:hover{
  background-color: #f0f0f0;
}

 /* background-color: #fafafa; */

.nav-profile-dropdown-links-link-content{
  color: #333!important;
  font-size: 14px!important;
}

.nav-profile-dropdown-settings-link-content{
  color: #333!important;
  font-size: 14px!important;
}

.nav-profile-dropdown-official-links-wrapper{
  padding-left: 16px!important;
  padding-right: 16px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 1.4;
}

.nav-profile-dropdown-official-links-link{
  color: #949494!important;
  text-decoration: none;
}

/* .bullet{
  color: #949494;
}

.github:hover{
  color: #1a59a1da
} */

#unfocused > div {
  display: none;